* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
html {
  font-size: 11px;
}

@media (min-width: 767px) {
  html {
    font-size: 16px;
  }
} */

html {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/fold.jpg);
  z-index: -1;
}

.background:before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  min-height: 100vh;
  color: white;
  display: grid;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

p {
  margin: 1px;
  text-align: center;
  font-size: 3rem;
  color: blue;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.center {
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  flex-direction: column;
}

.right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#title {
  color: red;
  font-size: 9rem;
}

#round-countdown-timer {
  display: flex;
  flex-direction: column;
  color: rgb(20, 105, 20);
  text-shadow: 0 0 5px black;
  font-size: 15rem;
}

#start-button {
  background-color: #030001;
  border-radius: 0.8rem;
  border: 4px double #cccccc;
  color: white;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  max-width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#start-button:disabled {
  background-color: #cccccc;
  color: #030001;
}

.left .text,
.center .text,
.right .text {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
}

#blinds {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
}

#nextblind {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.25rem;
  color: yellowgreen;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

#menu {
  border-radius: 0.5rem;
  width: 90%;
  height: 90vh;
  overflow: auto;
  margin: auto;
  padding: 3rem 1rem 1rem;
}

#menu::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.cross {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  aspect-ratio: 1;
  transform: rotate(45deg);
  transition: all 700ms cubic-bezier(0.93, -0.21, 0.22, 1.57);
}

.cross:hover {
  transform: rotate(225deg);
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 90%;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.tables-container {
  display: grid;
  gap: 8rem 0;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.table-container {
  padding: 0 4rem;
  position: relative;
}

.table {
  height: 200px;
  width: 350px;
  background-color: rgb(38, 125, 61);
  border-radius: 50%;
  z-index: 2;
  position: relative;
}

#remove-table {
  padding: -10px;
  display: flex;
  justify-content: center;

  font-size: 11px;
  content: "";
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 0.4em;
  height: 15px;
  width: 90px;
  background-color: white;
}

.chair {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: brown;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  color: #fff;
}

.chair:before {
  content: "";
  height: 10px;
  width: 50px;
  position: absolute;
  top: -5px;
  background-color: rgb(171, 62, 62);
  border-radius: 50%;
  border: 1px solid rgba(89, 25, 25, 0.633);
}

.chair:nth-child(1) {
  transform: rotate(-90deg);
  left: 2rem;
  top: 5rem;
}

.chair:nth-child(2) {
  transform: rotate(-30deg);
  top: 0;
  left: 5.5rem;
}

.chair:nth-child(3) {
  transform: rotate(-8deg);
  top: -2rem;
  left: 11.5rem;
}

.chair:nth-child(4) {
  transform: rotate(12deg);
  top: -2rem;
  left: 17.5rem;
}

.chair:nth-child(5) {
  transform: rotate(32deg);
  left: 23rem;
  top: 0;
}

.chair:nth-child(6) {
  transform: rotate(90deg);
  left: 26rem;
  top: 5rem;
}

.chair:nth-child(7) {
  transform: rotate(-212deg);
  left: 23rem;
  bottom: 0;
}

.chair:nth-child(8) {
  transform: rotate(-192deg);
  bottom: -2rem;
  left: 17.5rem;
}

.chair:nth-child(9) {
  transform: rotate(-172deg);
  bottom: -2rem;
  left: 11.5rem;
}

.chair:nth-child(10) {
  transform: rotate(-150deg);
  bottom: 0;
  left: 5.5rem;
}
